Options FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^profile/(\w+)$ /Tea-tango/index.php?controller=user&action=profile&name=$1
RewriteRule ^about$ /Tea-tango/index.php?controller=about&action=display
RewriteRule ^help$ /Tea-tango/index.php?controller=help&action=display
RewriteRule ^error$ /Tea-tango/index.php?controller=error&action=display

ErrorDocument 401 /Tea-tango/error
ErrorDocument 403 /Tea-tango/error
ErrorDocument 404 /Tea-tango/error
ErrorDocument 500 /Tea-tango/error