/.idea/
/tmp/
/bin/
*.test
*.swp
*.iml

# Smarty
libs/plugins
libs/sysplugins
libs/debug.tpl
libs/Smarty.class.php
libs/SmartyBC.class.php
templates_c/

# 定数SITE_URLの定義
config.php

# 単語帳・単語カード・ユーザー情報を記録するデータベース
models/tea-tango.db