body{
    margin: 0;
    padding: 0;
    background-color:#F9F9F9;
    -webkit-text-size-adjust: 100%;
    font-family:;
}
.title
{
    position:fixed;
        color:#FFFFFF;
        background-color:#FFCC66;
        top:0em;
        width:100%;
        height:5em;
        padding-top:0em;
        padding-left:2.5em;
}
.title_text{
    font-size:2em;
}
    .menu_button{
        position:fixed;
        top:0.4em;
        left:0%;
    }
    .menu_button a { color:#FFFFFF; }
    .menu{
        display:none;
        position:fixed;
        background-color:#FFCC66;
        width:100%;
        height:5em;
        top:2.5em;
        margin-bottom:0em;
        line-height:0.09em;
        opacity:0.7;
        font-weight:normal;
    }
    .menu_About{
        display:none;
        margin-top:1em;
        text-align:center;
    }
    .menu_About a { color:#FFFFFF; }
    .menu_Help{
        display:none;
        margin-top:1em;
        text-align:center;
    }
    .menu_Help a { color:#FFFFFF; }
    .menu_Logout{
        display:none;
        margin-top:1em;
        text-align:center;
    }
    .menu_Logout a { color:#FFFFFF; }
    .menu_Close{
        display:none;
        color:#FFFFFF;
        margin-top:1em;
        margin-left:0.5em;
        margin-right:0.5em;
        text-align:center;
        background-color:#7f7f7f;
        padding-top:0.5em;
        height:0.9em;
        cursor:pointer;
        border-radius:1em;
    }
    .titletext a { color:#FFFFFF; }
    .titletext{
        position:fixed;
        top:0.5em;
        left:17%;
        font-size:1.3em;
    }
    .performance{
        position:fixed;
        top:0.4em;
        left:72%;
    }
    .performance a { color:#FFFFFF; }
    .recommended{
        position:fixed;
        top:0.4em;
        left:85%;
    }
    .recommended a { color:#FFFFFF; }
    .login{
        position:fixed;
        top:0.4em;
        left:85%;
    }
    .login a { color:#FFFFFF; }
    .main
    {
        margin-top:3em;
        margin-left:0.625em;
        margin-right:0.625em;
    }
    .list{
        margin:1em;
        padding:0.5em;
        background-color:#a5a5a5;
    }
    .help h3{
        color:#353535;
        padding-top:5em;
    }
    .cookie_alert{
        display:none;
        padding-top:3.5em;
        padding-left:1em;
        padding-right:1em;
        padding-bottom:1em;
        background-color:red;
        color:white;
        width:100%;
        height:4em;
        font-size:1.5em;
    }
    .upload_footer{
        position:fixed;
        top:87%;
        width:100%;
        height:100%;
        background:#6f6f6f;
        text-align:center;
        color:white;
        font-size:1.8em;
        display:block;
        display:none;
        font-weight:normal;
    }
    .upload_footer a { color:white; }
    .button{
        background-color:#FFAA44;
        color:white;
        height:1.5em;
        border-radius:1em;
        text-align:center;
        margin-top:0em;
        margin-bottom:1em;
        display:block;
        padding-top:0.01em;
        margin-left:2em;
        margin-right:2em;
    }
    .card{
        text-align:center;
        background-color:red;
        color:white;
        border-radius:1em;
        height:1.5em;
        width:11em;
        display:block;
        padding-top:0.3em;
    }
    .card a { color:white; }