html,body {height:100%;}
body {
    margin: 0;
    padding: 0;
    background-color:#F9F9F9;
    font-family:メイリオ;
    -webkit-text-size-adjust: 100%;
}
    /* ヘッダー */
    #header_back {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:4em;
        background-color:#FFCC66;
        color:white;
        z-index:4;
    }
    #header_text {
        text-align: center;
    }
    #header_text a {
        color: white;
    }
    #side_menu {
        position:fixed;
        top:4em;
        left:0;
        width:7em;
        height:100%;
        color:white;
        background-color:#EEEEEE;
        padding-top:1em;
        padding-left:2em;
        padding-right:2em;
        z-index:1;
        display:none;
        box-shadow:none;
    }
    #side_menu_item {
    }
    #side_menu_open_btn {
        position:fixed;
        top:0;
        left:0;
        font-size:3em;
        z-index:4;
        padding-top:3px;
        padding-left:5px;
        color:#444444;
    }
    #black_filter {
        position:fixed;
        top:4em;
        left:0;
        width:100%;
        height:100%;
        background-color:#000000;
        opacity:0.5;
        display:none;
        z-index:3;
    }
    .login{
        position:fixed;
        top:0.4em;
        left:85%;
    }
    .login a { color:#FFFFFF; }
    #main
    {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        z-index:2;
        margin-top:4em;
        padding-top:4em;
    }
    .list{
        margin:1em;
        padding:0.5em;
        background-color:#a5a5a5;
    }
    .help h3{
        color:#353535;
        padding-top:5em;
    }
    .cookie_alert{
        display:none;
        padding-top:3.5em;
        padding-left:1em;
        padding-right:1em;
        padding-bottom:1em;
        background-color:red;
        color:white;
        width:100%;
        height:4em;
        font-size:1.5em;
    }
    .upload_footer{
        position:fixed;
        top:87%;
        width:100%;
        height:100%;
        background:#6f6f6f;
        text-align:center;
        color:white;
        font-size:1.8em;
        display:block;
        display:none;
        font-weight:normal;
    }
    .upload_footer a { color:white; }
    .button{
        background-color:#FFAA44;
        color:white;
        height:1.5em;
        border-radius:1em;
        text-align:center;
        margin-top:0em;
        margin-bottom:1em;
        display:block;
        padding-top:0.01em;
        margin-left:2em;
        margin-right:2em;
    }
    .card{
        text-align:center;
        background-color:red;
        color:white;
        border-radius:1em;
        height:1.5em;
        width:11em;
        display:block;
        padding-top:0.3em;
    }
    .card a { color:white; }
    .wordcard_button {
        background-color:#C0C0C0;
        margin:1.5em;
        padding:1em;
    }
    #page-title {
        position:absolute;
        top:0;
        left:0;
        color:white;
        width:100%;
        background-color:#FF8C00;
        margin:0;
    }
    #page-title-text {
        opacity: 0;
        padding-left:0;
    }
    .object {
        margin:1em;
        border:1px solid #333333;
        padding:1em;
        background-color:#dddddd;
    }